{% extends 'base.html.twig' %}

{% block title %}AuthProfile index{% endblock %}

{% block body %}
    <h1>AuthProfile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nickname</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Updated_at</th>
                <th>Email</th>
                <th>Email_verified</th>
                <th>Sub</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auth_profile in auth_profiles %}
            <tr>
                <td>{{ auth_profile.id }}</td>
                <td>{{ auth_profile.nickname }}</td>
                <td>{{ auth_profile.name }}</td>
                <td>{{ auth_profile.picture }}</td>
                <td>{{ auth_profile.updatedAt ? auth_profile.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ auth_profile.email }}</td>
                <td>{{ auth_profile.emailVerified ? 'Yes' : 'No' }}</td>
                <td>{{ auth_profile.sub }}</td>
                <td>
                    <a href="{{ path('auth_profile_show', {'id': auth_profile.id}) }}">show</a>
                    <a href="{{ path('auth_profile_edit', {'id': auth_profile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('auth_profile_new') }}">Create new</a>
{% endblock %}
